body {
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

body, input, button {
    font-size: 16px;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding-top: 1%;
    width: 90%;
    height: 80%;
}

.header {
    padding: 3px;
    border: 1px solid red;
}

.items {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    color: black;
    text-decoration: none;
}

.items div.add {
    display: flex;
    align-items: center;

}

.items div.add:hover {
    background-color: #ffffab;
    border-radius: 7px;
    cursor: pointer;
}

.items img {
    width: 20px;
}

.items input {
    width: 70%;
}

.content {
    margin: 3px 0 3px;
    padding: 3px;
    border: 1px solid blue;

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal .field {
    padding: 3px;
}

.modal .label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 5px;
}

.modal .data input {
    width: 240px;
}

.modal .button {
    text-align: center;
    margin: 20px 0 0;
}

.closeModal {
    color: #aaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.closeModal:hover,
.closeModal:focus {
    color: #6d6d6d;
    text-decoration: none;
    cursor: pointer;
}

